<th:block th:fragment="editprofile">

    <div class="row row_main">
        <div class="col col-lg-3 col-md-4 col-sm-6">

            <div class="row justify-content-center align-items-center">

                <div class="image_holder">
                    <img id="userpic" th:if="${profile!=null}" th:src="@{'/users/' + ${usr.id} + '/' + ${profile.userpic}}">
                </div>

            </div>
            <div class="row image_upload justify-content-center align-items-center">

                <div class="custom_file">
                    <label for="file"><span class="fa fa-edit"></span> 
                    <input type="file" class="custom-file-input" id="file" name="file">
                    </label>
                </div>

            </div>

        </div>
        <div class="col col-lg-9 col-md-8 col-sm-6">
            <div>
                <form id="mainProfileForm" th:action="@{'/updateProfile/' + ${usr.id}}" method="POST">

                    <div class="inline_block">
                        <label for="nameID">Prenom:</label>
                        <input type="text" class="form-control" id="nameID" placeholder="Votre prenom" th:name="name" th:value="${profile.name}" th:readonly="${true}">
                        <span class="fa fa-edit editable"></span>
                    </div>

                    <div class="inline_block">
                        <label for="surnameID">Nom:</label>
                        <input type="text" class="form-control" id="surnameID" placeholder="Votre nom" th:name="surname" th:value="${profile.surname}" th:readonly="${true}">
                        <span class="fa fa-edit editable"></span>
                    </div>

                    <div class="inline_block">
                        <label for="countryID">Pays:</label>
                        <select id="countryID" class="country form-control" th:name="country" th:value="${profile.country}">
                            <option th:value = "${profile.country}" th:text="${profile.country}"></option>
                        </select>
                        <span class="fa fa-edit editable"></span>
                    </div>

                    <div class="inline_block">
                        <label for="nationalityID">Nationalite:</label>
                        <input type="text" class="form-control" id="nationalityID" placeholder="Nationalite" th:name="nationality" th:value="${profile.nationality}" th:readonly="${true}">
                        <span class="fa fa-edit editable"></span>
                    </div>

                    <div class="inline_block">
                        <label for="ageID">Age:</label>
                        <input type="text" class="form-control" id="ageID" placeholder="Age" th:name="age" th:value="${profile.age}" th:readonly="${true}">
                        <span class="fa fa-edit editable"></span>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                    <div id="mainFormSplashID" class="splash_window"></div>
                </form>
            </div>

        </div>
    </div>

</th:block>