<footer>
    <div class="main__content">
        <div class="left box">
            <h2>About us</h2>
            <div class="content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus nihil placeat ut eos deserunt ratione, velit aliquam assumenda, eligendi optio consequuntur autem similique adipisci. Omnis, ducimus. Facere, dicta? Similique, perspiciatis!</p>
                <div class="social">
                    <a href="#"><span class="fa fa-facebook"></span></a>
                    <a href="#"><span class="fa fa-twitter"></span></a>
                    <a href="#"><span class="fa fa-instagram"></span></a>
                </div>
            </div>
        </div>

        <div class="center box">
            <h2>Adress</h2>
            <div class="content">
                <div class="phone">
                    <span class="fa fa-phone"></span>
                    <span class="text">+7 (812) 212-8506</span>
                </div>

                <div class="place">
                    <span class="fa fa-map-marker"></span>
                    <span class="text">Bruxelles 1000, Rue de la Paix 34/32</span>
                </div>

                <div class="myEmail">
                    <span class="fa fa-envelope"></span>
                    <span class="text">pavelbidenko2018@gmail.com</span>
                </div>
            </div>
        </div>

        <div class="right box">
            <h2>Contact us</h2>

            <div class="content">
                <form id="emailForm" th:action="@{/sendEmail}" method="POST">
                    <div class="email">
                        <label for="userEmailID">Email *</label>
                        <input type="email" th:name="userEmail" id="userEmailID" required>
                    </div>

                    <div class="msg">
                        <label for="userMsgId">Message *</label>
                        <textarea th:name="message" id="" cols="10" rows="2" required></textarea>
                    </div>
                    <div class="sendBtn">
                        <button type="submit">Envoyer</button>
                    </div>
                </form>
                <div id="emailFormSplashID" class="splash_window"></div>
            </div>
        </div>

    </div>
</footer>
< <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>