<head>
    <th:block th:fragment="common_head">
        <meta charset="ISO-8859-1">
    </th:block>

    <th:block th:fragment="main_head">
        <meta charset="ISO-8859-1">
        <title>Javier</title>
        <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css">
        <link rel="stylesheet" th:href="@{/css/font-awesome.css}" href="../static/css/font-awesome.css">
        <link rel="stylesheet" th:href="@{/css/fontawesome.min.css}" href="../static/css/fontawesome.min.css">
        <link rel="stylesheet" th:href="@{/css/admin.css}" href="../static/css/admin.css">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    </th:block>

    <th:block th:fragment="profile">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/css/croppie.css}">
        <link rel="stylesheet" th:href="@{/css/bootstrap-grid.css}">
        <link rel="stylesheet" th:href="@{/css/profile.css}" href="../static/css/profile.css">
    </th:block>

</head>

<header class="main__header">
    <nav>
        <div class=logo__holder>
            <img th:src="@{/images/logo-eps2.png}" alt="logo">
            <p>kommunalka</p>
        </div>

        <!-- <ul class="site__navigation">
            <li><a href="#">A propos</a></li>
            <li><a href="#">Formation</a></li>
            <li><a href="#">Artistes associes</a></li>
            <li><a href="#">Nouvelles</a></li>
            <li><a href="#">Kommunalka</a></li>
        </ul> -->

        <div class="hidden__menu">
            <div class="burger">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </div>
            <ul class="hidden__navigation">
                <li><a class="hidden__link" href="#">A propos</a></li>
                <li><a class="hidden__link" href="#">Formation</a></li>
                <li><a class="hidden__link" href="#">Artistes associes</a></li>
                <li><a class="hidden__link" href="#">Nouvelles</a></li>
                <li><a class="hidden__link" href="#">Kommunalka</a></li>
            </ul>
        </div>

        <a sec:authorize="!isAuthenticated()" class="registration__link" href="#" onclick="showModal('block')"> <i class="fa fa-sign-in" aria-hidden="true"></i><span>Se connecter / S'enregistrer</span>
        </a>

        <div class="user__greeting" sec:authorize="isAuthenticated()">
            <span class="fa fa-user"></span>
            <span class="text" th:text="'Bonjour, ' + ${username}" />
            <a class="logout__link" th:href="@{/logout}"><span class="fa fa-sign-out" aria-hidden="true"></span>
            </a>
        </div>

        <!-- <ul class="language__menu">
            <li><a href="#"><span>Fr</span></a></li>
            <li><a href="#"><span>En</span></a></li>
            <li><a href="#"><span>Fl</span></a></li>
        </ul> -->
    </nav>

</header>