<!-- Profile form for new user -->
<th:block th:fragment="newprofile">
   
    <div class="bar_container">

        <div id="stepProgressBar">

            <div class="step">
                <p class="step-text">Step 1</p>
                <div class="bullet">1</div>
            </div>
            <div class="step">
                <p class="step-text">Step 2</p>
                <div class="bullet">2</div>
            </div>
            <div class="step">
                <p class="step-text">Step 3</p>
                <div class="bullet">3</div>
            </div>

        </div>      
        <div class="">
            <div class="image_holder">
                   <img id="userpic" th:if="${profile!=null}" th:src="@{'/users/' + ${usr.id} + '/' + ${profile.userpic}}">
            </div>
            
            <div class="image_upload justify-content-center align-items-center">

                <div class="custom_file">
                    <label for="file"><span class="fa fa-edit"></span> 
                    <input type="file" class="custom-file-input" id="file" name="file">
                    </label>
                </div>

            </div>
          
                <form id="mainProfileForm" th:action="@{'/saveProfile/' + ${usr.id}}" method="POST">

                    <div class="inline_block">
                        <label for="nameID">Prenom:</label>
                        <input type="text" class="form-control" id="nameID" placeholder="Votre prenom" th:name="name">
                       
                    </div>

                    <div class="inline_block">
                        <label for="surnameID">Nom:</label>
                        <input type="text" class="form-control" id="surnameID" placeholder="Votre nom" th:name="surname">
                       
                    </div>

                    <div class="inline_block">
                        <label for="countryID">Pays:</label>
                        <select id="countryID" class="country form-control" th:name="country">
                        </select>
                       
                    </div>

                    <div class="inline_block">
                        <label for="nationalityID">Nationalite:</label>
                        <input type="text" class="form-control" id="nationalityID" placeholder="Nationalite" th:name="nationality">
                       
                    </div>

                    <div class="inline_block">
                        <label for="ageID">Age:</label>
                        <input type="text" class="form-control" id="ageID" placeholder="Age" th:name="age">
                       
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                    <div id="mainFormSplashID" class="splash_window"></div>
                
        
        </form>
        
        </div>

        <div class="response">
            <p id="content">Step Number 1</p>
            <button id="previous" disabled>Prevoius</button>
            <button id="next">Next</button>
            <button id="finish" disabled>Finish</button>
        </div>

    </div>

</th:block>

<!-- End of new user block -->

