.container {
    margin-top: 20px;
    margin-bottom: 20px;
    background: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
}


.container .image_upload {
    margin-top: 20px;
}

.col {
    background: #fff;
    border-right: 1px solid #f0f0f0;
}

.container .left-row {
    height: 100%;
    color: #fff;
    text-align: center;
    background: #eee;
}

.image_holder {
    height: 185px;
    width: 185px;
	background: #f5f5f5;    
    border-radius: 100%;  
}

.custom_file>label>span {
    color: var(--color-orange);
    font-size: 2.125em;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.custom_file input {
    margin: 0;
    padding: 0;
    display: none;
}

label {
    padding: 0;
    margin: 0;
    margin-right: 10px;
}

.inline_block {
    display: flex;
    align-items: center;
}

.inline_block .editable {
    margin-left: 10px;
    cursor: pointer;
}

.row_main {
    margin: 0;
    background: #fff;
    padding: 20px;
}

#mainProfileForm,
#imageForm {
    position: relative;
    border-radius: 3px;
}

#mainProfileForm fieldset,
#imageForm fieldset {
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 90%;
    margin: 0 10%;
    position: relative;
}

.splash_window {
    background: var(--color-yellow);
    opacity: .8;
    border-radius: 1em;
    font-size: 1.125em;
    color: #eee;
    padding: 0.8em;
    display: none;
    max-width: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* **************************** */


/*custom font*/

@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/

* {
    margin: 0;
    padding: 0;
}


/*form styles*/

.form_holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: DodgerBlue;
}


/* Progress bar */

.hidden {
    display: none;
}

.response button {
    padding: 5px 10px;
    border: 1px solid black;
    transition: 250ms background-color;
}

.response button:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}

.response button:disabled:hover {
    opacity: 0.6;
    cursor: not-allowed;
}

.text-step {
    text-align: center;
}

.bar_container {
    max-width: 400px;
    margin: 20px auto 0 auto;
    padding: 40px;
}

#stepProgressBar {
    width: 300px;
    margin: 0 auto;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.step {
    text-align: center;
}

.step-text {
    margin-bottom: 10px;
    color: #28a745;
}

.bullet {
    height: 20px;
    width: 20px;
    border-radius: 100%;
    border: 1px solid #28a745;
    position: relative;
    display: inline-block;
    transition: background-color 500ms;
    line-height: 20px;
}

.bullet.completed {
    color: #fff;
    background: #28a745;
}

.bullet.completed::after {
    content: '';
    position: absolute;
    height: 4px;
    width: 100px;
    background: #28a745;
    bottom: 8px;
    right: -106px;
}