<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css">
    <link rel="stylesheet" th:href="@{/css/admin.css}" href="../static/css/admin.css">
    <link rel="stylesheet" th:href="@{/css/font-awesome.css}" href="../static/css/font-awesome.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <title>Admin</title>
</head>

<body>

    <header class="main-header">
        <nav>
            <div class=logo__holder>
                <img th:src="@{/images/logo-eps.png}" alt="logo">
                <p>kommunalka</p>
            </div>
            <img th:src="@{/images/logo-eps.png}" alt="logo">
            <ul class="site-navigation">
                <li><a href="#">A propos</a></li>
                <li><a href="#">Formation</a></li>
                <li><a href="#">Artistes associés</a></li>
                <li><a href="#">Nouvelles</a></li>
                <li><a href="#">Kommunalka</a></li>
            </ul>

            <a class="registration-link" href="#" onclick="showModal('block')">
                <i class="fa fa-sign-in" aria-hidden="true"></i><span>Se
					connecter / S'enregistrer</span>
            </a>

            <ul class="language-menu">
                <li><a href="#">Fr</a></li>
                <li><a href="#">En</a></li>
                <li><a href="#">Fl</a></li>
            </ul>
        </nav>

    </header>
    <main>
        <div class=wrapper>

            <div class="modals add__window" role="dialog">

                <form class="modal__content" id="addArticle" th:action="@{/addArticle}" method="POST" enctype="multipart/form-data">

                    <div class="close-btn">
                        <h5>Add article</h5>
                        <span onclick="hideModalWindow()" class="close" title="Close Modal">&times;</span>
                    </div>

                    <fieldset class="add_article_fieldset">

                        <label for="article_title">Title</label> <input type="text" id="article_title" name="title" required="required"> <label for="Article description">Description</label>
                        <textarea id="article_descr" name="descr" required="required"></textarea>
                        <label for="start_date">Starts on:</label>
                        <input type="date" name="xdate" id="start_date">
                        <label for="article_file">Attachment</label>
                        <input type="file" id="article_file" name="file">
                        <button type="submit">Add article</button>

                    </fieldset>
                </form>

            </div>

            <section class="articles__list">
                <h1>Article list | <a href="#" onclick="addArticleHandler()">Add new</a></h1>

                <div class="article" th:each="article: ${articleList}">
                    <div class="article__id" th:text="${article.id}" />
                    <div class="article__xdate" th:text="${article.xdate}" />
                    <div class="article__title" th:text="${article.title}" />
                    <div class="article__descr" th:text="${article.description}" />
                    <div class="article__img">
                        <img class="article__thumbnail" th:src="'data:image/jpeg;base64,' + ${article.base64imageFile}" />
                    </div>
                    <div class="article__state">
                        <form class="update__article__state" action="#" method="POST">
                            <input type="hidden" name="articleid" th:value="${article.id}">
                            <label class="switch">
                            <input type="checkbox" class="upd" name="updName" id="updID" th:checked="${article.state}">
                            <span class="slider round"></span>
                            </label>
                        </form>
                    </div>

                </div>
            </section>

        </div>
    </main>

    <footer> Copyright 2000 </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <script type="text/javascript">
        debugger;

        $(function() {
            $('.upd').click(function() {
                let form = $(this).closest('form');

                const artId = form.serializeArray()[0].value;

                $.ajax({
                    url: '/updateArticle',
                    type: "POST",
                    data: artId,
                    dataType: "text",
                    contentType: "application/json; charset=utf-8",
                    success: function(response) {
                        console.log(typeof response);

                    }
                });

            });
        });
    </script>

    <script>
        function addArticleHandler() {

            $(document).ready(function() {
                console.log("--showing form--");
                $(".modals").show();
            })
        }

        function hideModalWindow() {
            $(".modals").hide();
        }
    </script>

</body>

</html>