<!DOCTYPE html>
<html lang="en">

<head>
    <th:block th:include="fragments/header::common_head" />
    <th:block th:include="fragments/header::main_head" />
    <th:block th:include="fragments/header::admin_head" />

</head>


<body>

    <header th:replace="fragments/header::header" />
    <main>
        <div class=wrapper>

            <div class="modals add__window" role="dialog">

                <form class="form__content popup" id="addArticle" th:action="@{/addArticle}" method="POST" enctype="multipart/form-data">

                    <div class="close-btn">
                        <h5>Add article</h5>
                        <span onclick="hideModalWindow()" class="close" title="Close Modal">&times;</span>
                    </div>

                    <fieldset class="add_article_fieldset">

                        <label for="article_title">Title</label> <input type="text" id="article_title" name="title" required="required"> <label for="Article description">Description</label>
                        <textarea id="article_descr" name="descr" required="required"></textarea>
                        <label for="start_date">Starts on:</label>
                        <input type="date" name="xdate" id="start_date">
                        <label for="article_file">Attachment</label>
                        <input type="file" id="article_file" name="file">
                        <button type="submit">Add article</button>

                    </fieldset>
                </form>

            </div>

            <section class="articles__list">
                <h1>Article list | <a href="#" onclick="addArticleHandler()">Add new</a></h1>

                <div class="article" th:each="article: ${articleList}">
                    <div class="article__id" th:text="${article.id}" />
                    <div class="article__xdate" th:text="${article.xdate}" />
                    <div class="article__title" th:text="${article.title}" />
                    <div class="article__descr" th:text="${article.description}" />
                    <div class="article__img">
                        <img class="article__thumbnail" th:src="'data:image/jpeg;base64,' + ${article.base64imageFile}" />
                    </div>
                    <div class="article__state">
                        <form class="update__article__state" action="#" method="POST">
                            <input type="hidden" name="articleid" th:value="${article.id}">
                            <label class="switch">
                            <input type="checkbox" class="upd" name="updName" id="updID" th:checked="${article.state}">
                            <span class="slider round"></span>
                            </label>
                        </form>
                    </div>

                </div>
            </section>

        </div>
    </main>

    <footer th:replace="fragments/footer::footer" />

    <th:block th:include="fragments/scripts :: scripts"></th:block>

</body>

</html>