<!DOCTYPE html>
<html>

<head>
    <th:block th:include="fragments/header::common_head" />
    <th:block th:include="fragments/header::main_head" />
    <th:block th:include="fragments/header::profile" />
</head>

<body>

    <header th:replace="fragments/header::header"></header>

    <div class="container">
        <div class="bar_container">

            <form id="forgetPasswordForm" th:object = "${forgetPasswordEmailForm}" method="POST">
                <fieldset class="main_info">
                    <!--   <h1 th:text="#{message.resetPassword}">reset</h1>-->
                    <div class="inline_block">
                        <label for="email">email</label>
                        <input class="form-control" id="email" name="email" type="email" value="" />
                    </div>

                    <div class="inline_block">
                        <button type="submit">Reset</button>
                    </div>
                    <div class="inline_block">
                        <!-- <a th:href="@{/registration.html}" th:text="#{label.form.loginSignUp}">registration</a>
                        <a th:href="@{/login}" th:text="#{label.form.loginLink}">login</a> -->
                    </div>
                </fieldset>

            </form>
        </div>
    </div>

    <footer th:replace="fragments/footer::footer" />
    <script th:src="@{js/forgetPassword.js}"></script>

</body>

</html>