<!DOCTYPE html>
<html>

<head>
    <meta charset="ISO-8859-1">
    <title>Insert title here</title>

    <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css">
    <link rel="stylesheet" th:href="@{/css/font-awesome.css}" href="../static/css/font-awesome.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="site-wrapper">
        <header class="main-header">
            <nav>
                <div class=logo__holder>
                    <p>kommu <br> nalka</p>
                </div>
                <ul class="site-navigation">
                    <li><a href="#">A propos</a></li>
                    <li><a href="#">Formation</a></li>
                    <li><a href="#">Artistes associés</a></li>
                    <li><a href="#">Nouvelles</a></li>
                    <li><a href="#">Kommunalka</a></li>
                </ul>

                <a class="registration-link" href="#" onclick="showModal('block')">
                    <i class="fa fa-sign-in" aria-hidden="true"></i><span>Se connecter / S'enregistrer</span>
                </a>

                <ul class="language-menu">
                    <li><a href="#">Fr</a></li>
                    <li><a href="#">En</a></li>
                    <li><a href="#">Fl</a></li>
                </ul>
            </nav>

        </header>
        <div class="hero-img">

            <h1><span>Trouvez</span> <span>des</span> <span>personnes</span> <span>partageant</span> <span>les</span> <span>mêmes</span> <span>idées.</span> <br> <span>Apprenez</span> <span>des</span> <span>professionnels</span></h1>

            <!-- Auth window -->
            <div class="modals auth__window" role="dialog">

                <form class="modal__content" th:action="@{/login}" method="post">

                    <div class="close-btn">
                        <h5>S'identifier</h5>
                        <span onclick="hideModalWindow()" class="close" title="Close Modal">&times;</span>
                    </div>
                    <div id="authErrorForm" class="login__error animate">Login or password error</div>

                    <div class="container">
                        <label for="usr">Nom d'utilisateur ou Email *</label>
                        <input type="email" placeholder="Enter Username" name="username" id="usr" required>

                        <label for="pwd">Mot de passe *</label>
                        <input type="password" placeholder="Mot de passe *" name="password" id="pwd" required>

                        <button type="submit">S'identifier</button>
                    </div>

                    <div class="container">
                        <a href="#">Mot de passe oublié?</a>
                    </div>

                    <div class="form-divider">
                        <h5>Ou</h5>
                    </div>

                    <div class="container">
                        <a class="create-account" onclick="document.getElementsByClassName('add__window')[0].style.display='block';" href="#">Vous n'avez pas de compte? Créez-en un ici.</a>
                    </div>

                </form>
            </div>

            <!-- Add new user window -->
            <div class="modals add__window" role="dialog">

                <form class="modal__content" action="add" method="POST">

                    <div class="close-btn">
                        <h5>S'inscrire</h5>
                        <span onclick="hideModalWindow()" class="close" title="Close Modal">&times;</span>
                    </div>

                    <div class="container">
                        <label for="usr">Nom d'utilisateur *</label>
                        <input type="text" placeholder="Saisissez le nom d'utilisateur souhaité" name="usr" required>

                        <label for="email">Email *</label>
                        <input type="email" placeholder="Saisissez votre adresse e-mail" name="email" required>

                        <label for="pwd">Mot de passe *</label>
                        <input type="password" placeholder="Mot de passe *" name="pwd" required>

                        <label for="repwd">Répéter le mot de passe *</label>
                        <input type="password" placeholder="Mot de passe *" name="repwd" required>

                        <button type="submit">S'identifier</button>
                    </div>

                    <div class="container">
                        <a href="#">Mot de passe oublié?</a>
                    </div>

                    <div class="form-divider">
                        <h5>Ou</h5>
                    </div>

                    <div class="container">
                        <a class="create-account" href="#">Vous n'avez pas de compte? Créez-en un ici.</a>
                    </div>

                </form>
            </div>

        </div>

        <main>
            <section class="news__section">

                <div class="news__block" th:each="article:${activeArticleList}">
                    <h5 th:text="${article.title}" />
                    <div class="news__img__holder">
                        <img class="news__image" th:src="'data:image/jpeg;base64,' + ${article.base64imageFile}" alt="nouvelle_img">
                    </div>
                    <p class="preambule-text" th:text="${article.description}" />
                </div>

            </section>
            <!-- End of news-section -->

            <section class="contacts__section">
                <div class="text-block">
                    <h1>Contacts</h1>
                    <p class="preambule-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam unde qui cum, molestias est consectetur tenetur. Cumque, dolores veniam libero fugiat eveniet minima eius rerum saepe impedit asperiores? Quos, esse.</p>
                </div>
                <div class="contacts">
                    <p>212-8506</p>
                    <p>info@kommunalka.be</p>
                </div>
    </div>
    </section>
    <!-- End of contacts section -->

    <footer>
        <div class="footer-logo"></div>
        <nav class="footer-menu">
            <ul>
                <li>A propos</li>
                <li>Formation</li>
                <li>Artistes associés</li>
                <li>Nouvelles</li>
                <li>Kommunalka</li>
            </ul>
        </nav>
        <div class="social-icons">
            <ul>
                <li>Facebook</li>
                <li>Instagram</li>
                <li>YouTube</li>
                <li>Twitter</li>
            </ul>
        </div>
    </footer>
    </main>
    </div>

    <h1 th:text="'Welcome ' + ${name} + '!'"></h1>
    <div>
        <a th:href="@{welcome}">Log in</a>
    </div>

    <script>
        debugger;
        const auth__window = document.getElementsByClassName("auth__window")[0];
        const add__window = document.getElementsByClassName("add__window")[0];
        const authErrorForm = document.getElementById('authErrorForm');
        const form = document.getElementsByClassName("modal__content")[0];

        if (window.location.hash.substring(1) == 'login_error') {
            console.log(window.location.hash);
            auth__window.style.display = 'block';
            authErrorForm.style.display = 'block';
        }

        window.addEventListener('hashchange', function() {
            if (window.location.hash == "#login_error") {
                auth__window.style.display = 'block';
            }

        }, false);

        window.onclick = function(event) {

            if (event.target == auth__window || event.target == add__window) {
                auth__window.style.display = 'none';
                add__window.style.display = 'none';
            }
        }

        function hideModalWindow() {
            const modals = document.getElementsByClassName('modals');
            Array.from(modals).forEach(modal => {
                modal.style.display = 'none';
            });
        }

        function showModal(action) {
            document.getElementsByClassName("auth__window")[0].style.display = action;
        }
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</body>

</html>