<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="fragments/header::common_head" />
    <th:block th:include="fragments/header::main_head" />
    <th:block th:include="fragments/header::profile" />
 
</head>

<body>

    <header th:replace="fragments/header::header"></header>

    <div class="container">
   		<th:block th:include = "fragments/cropper::image_cropper"></th:block>
        <th:block th:if="${profile==null}" th:include="fragments/new_profile::newprofile"></th:block>
        <th:block th:unless="${profile==null}" th:include="fragments/edit_profile::editprofile"></th:block>
    </div>

    <footer th:replace="fragments/footer::footer"></footer>
</body>
<th:block th:include="fragments/scripts::scripts"></th:block>
<th:block th:include="fragments/scripts::profile"></th:block>

</html>


<!-- -Photo
-Champ de texte :
Parcours artistique (1500 signes espaces compris)
-Espace pour télécharger Cv (pdf, word)
-Titre du projet
-Champ de texte :
Description du projet (3000 signes espaces compris)
 
-Espace pour télécharger des fichiers (pdf et image)
 
-Espace pour télécharger des liens vidéo, ou (idéal) application YouTube
ou autre qui permet de voir les vidéos téléchargées sans quitter la
plateforme. 
 
- Champ de texte sous chaque information (dans description du projet,
chaque photos et vidéo) du profil (sous forme de commentaire ou de
publication) afin que les autres utilisateurs puissent laisser leurs
commentaires. -->