<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="fragments/header::common_head" />
    <th:block th:include="fragments/header::main_head" />
    <th:block th:include="fragments/header::profile" />
    <link rel="stylesheet" th:href="@{/css/profile.css}">
</head>

<body>

    <header th:replace="fragments/header::header"></header>

    <div class="container">

        <div class="row">
            <div class="col col-lg-3 col-md-4 col-sm-6">

                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-8">
                        <div class="image_holder">
                            <img class="image_preview" src="" alt="">
                        </div>
                    </div>

                </div>
                <div class="row image_upload justify-content-center align-items-center">

                    <form id="imageFormID" th:action="@{'/loadImage/' + ${usr.id}}" method="POST" enctype="multipart/form-data">

                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                            </div>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="file" name="file" aria-describedby="inputGroupFileAddon01">
                                <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary">Load</button>
                    </form>

                </div>

            </div>
            <div class=" col col-lg-9 col-md-8 col-sm-6">
                <form id="mainProfileForm" th:action="@{'/saveProfile/' + ${usr.id}}" method="POST">
                    <div class="form-group">
                        <label for="nameID">Prenom</label>
                        <input type="text" class="form-control" id="nameID" placeholder="Votre prenom" th:name="name">
                    </div>

                    <div class="form-group">
                        <label for="surnameID">Nom</label>
                        <input type="text" class="form-control" id="surnameID" placeholder="Votre nom" th:name="surname">
                    </div>

                    <div class="form-group">
                        <label for="countryID">Pays</label>
                        <select class="form-control" name="" id="countryID" th:name="country">
                            <option>Select the country...</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="nationalityID">Nationalite</label>
                        <input type="text" class="form-control" id="nationalityID" placeholder="Nationalite" th:name="nationality">
                    </div>

                    <div class="form-group">
                        <label for="ageID">Age</label>
                        <input type="text" class="form-control" id="ageID" placeholder="Age" th:name="age">
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>

    </div>

</body>

<footer th:replace="fragments/footer::footer"></footer>

<th:block th:include="fragments/scripts::scripts"></th:block>
<th:block th:include="fragments/scripts::profile"></th:block>



</html>