<!DOCTYPE html>
<html>
<head th:replace="fragments/header::head" />

<body>
    <header th:replace="fragments/header::header" />
    <div class="profile__wrapper">
        <main>
            <div class="left__panel">
                <div class="user__image__holder">
                    <span class="fa fa-user"></span>
                </div>
                <a id="image__loader" href=""><span class="fa fa-pencil-square-o"></span></a>
            </div>
            <div class="rigth__panel">
                <div class="user__details">
                    <form class="form__content" action="">
                        <div class="field__holder">
                            <label for="userfirstnameId">Nom</label>
                            <input type="text" name="userfirstname" id="userfirstnameId">
                        </div>
                        <div class="field__holder">
                            <label for="usersecondnameId">Prenom</label>
                            <input type="text" name="usersecondname" id="usersecondnameId">
                        </div>
                        <div class="field__holder">
                            <label for="userprofessionId">Métiers ou les disciplines artistiques</label>
                            <select name="userprofession" id="userprofessionId">
                    <option value="">Realisateur</option>
                    <option value="">Realisateur</option>
                    <option value="">Realisateur</option>
                    <option value="">Realisateur</option>
                    </select>
                        </div>
                        <div class="field__holder">
                            <label for="usercountryId">Pays de résidence</label>
                            <select name="usercountry" id="usercountryId">
                    <option value=""></option>
                    </select>
                        </div>
                        <div class="field__holder">
                            <label for="usernationalityId">Nationalité</label>
                            <input type="text" name="usernationality" id="usernationalityId">
                        </div>
                        <div class="field__holder">
                            <label for="userageId">Âge</label>
                            <input type="text" name="userage" id="userageId">
                        </div>
                        <button type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </main>
    </div>
    <footer th:replace="fragments/footer::footer" />
    <th:block th:include="fragments/scripts :: scripts"></th:block>


    <script>
        $(document).ready(function() {

            var url = "https://restcountries.eu/rest/v2/all";

            $.getJSON(url, function(data) {
                $.each(data, function(index, value) {
                    // APPEND OR INSERT DATA TO SELECT ELEMENT.
                    $('#countries').append($('<option></option>').val(value.name).html(value.name));
                });
            });

            // SHOW SELECTED VALUE.
            $('#countries').change(function() {
                $('#msg').text('Selected Item: ' + this.options[this.selectedIndex].text);
            });
        });
    </script>

</body>

</html>