<!DOCTYPE html>
<html>

<head>
    <th:block th:include="fragments/header::common_head" />
    <th:block th:include="fragments/header::main_head" />
    <th:block th:include="fragments/header::profile" />
</head>

<body>
    <header th:replace="fragments/header::header"></header>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                            <h3><i class="fa fa-lock" style="font-size:2em;"></i></h3>
                            <h2 class="text-center">Reset password</h2>
                            <div class="panel-body">

                                <div th:if="${error}">
                                    <div class="alert alert-danger">
                                        <span th:text="${error}"></span>
                                    </div>
                                </div>

                                <form th:action="@{/reset-password}" method="post">



                                    <input type="hidden" name="token" th:value="${token}" />

                                    <div class="form-group">

                                        <div class="input-group">
                                            <span class="input-group-addon">
                                            <i class="fa fa-lock"></i>
                                        </span>
                                            <input id="password" class="form-control" placeholder="password" type="password" />
                                        </div>
                                        <p class="error-message"></p>

                                    </div>
                                    <div class="form-group">

                                        <div class="input-group">
                                            <span class="input-group-addon">
                                            <i class="fa fa-lock"></i>
                                        </span>
                                            <input id="confirmPassword" class="form-control" placeholder="Confirm password" type="password" />
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-block btn-success">Reset password</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        New user? <a href="/" th:href="@{/registration}">Register</a>
                    </div>
                    <div class="col-md-12">
                        Already registered? <a href="/" th:href="@{/login}">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="fragments/footer::footer" />
    <script th:src="@{js/forgetPassword.js}"></script>

</body>

</html>